.places__image {
	width: 460px;
	grid-column: 1;
}

@media screen and (max-width: 1024px) {
	.places__image {
		width: 440px;
	}
}

@media screen and (max-width: 768px) {
	.places__image {
		width: 340px;
	}
}

@media screen and (max-width: 650px) {
	.places__image {
		align-self: center;
		padding-bottom: 32px;
	}
}

@media screen and (max-width: 370px) {
	.places__image {
		width: 320px;
	}
}