.header {
  display: flex;
  justify-content: space-between;
  max-width: 93%;
  height: 52px;
  margin: 0 auto;
  padding: 28px 0 56px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 16px;
    height: 42px;
  }
}