.lead__figure-figcaption {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 940px) {
  .lead__figure-figcaption {
    padding-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .lead__figure-figcaption {
    padding-left: 24px;
  }
}