.footer {  
  display: flex;
  padding: 92px 48px 24px;
  margin: 0 auto;
  color: white;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    display: flex;
    flex-direction: column;
    min-width: 186px;
    justify-content: flex-start;
    padding: 64px 0 24px 16px;
  }
}